
body *{
    font-family: 'Open Sans', sans-serif;
    color: rgb(119, 119, 119);
    font-style: normal;\
}
body .container{
    margin-top: 57px;
    /*padding-top: 10px; /* 80px to make the container go all the way to the bottom of the topbar */
    /*z-index: 2; */
    background-color: white;
    /*max-height: 85%;*/
    width: 100%;
    height: 100%;
}
.logo_img {
    max-width: 160px;
    height: auto;
    margin-top: -9px;
}
#login, form{
    outline: 1px solid #D4D4D4;
    outline-offset: 1px;
    padding: 20px;
}
a{color: #37a0eb;}

#map{
    height:500px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.welcome {
    text-align: center;
}


.leaflet-popup-content-wrapper,.leaflet-popup-tip{background-color: #d2f3cd}
.popup_marker{text-align: center}

.leaflet-control-command-interior
{
    width: 32px;
    height: 30px;
    display: block;
    padding: 10px 0 0 0 ;
    margin-left: 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover
{
    background-color: #F4F4F4;
}


.status-bar {
    margin-left: 20px
        height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    color: #999;
    border-top: solid 3px #ddd;
    text-align: center;
    background-color: white;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}




/*@media (max-width: 480px) {
  .container {
    max-width:  80% !important;
    max-height:  70% !important;
  }
  .welcome {
    max-width:  100% !important;
  }
    #map{        
        width: 100%; 
        z-index: 0;
    }
}

@media (min-width: 768px) {
  .container {
    max-width:  60% !important;
  }
  .welcome {
    max-width:  80% !important;
  }
}

@media (min-width: 992px) {
    .container {
        max-width:  60% !important;
    }
    .welcome {
        max-width:  80% !important;
    }    

}

@media (min-width: 1200px) {
  .container {
    max-width: 60% !important;
  }
  .welcome {
    max-width:  80% !important;
  }
}

*/


/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
