body *{
    font-family: 'Open Sans', sans-serif;
    color: rgb(119, 119, 119);
    font-style: normal;\
}

body .container{
    margin-top: 57px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.container{
    margin-bottom:80px;
}

#content{
    margin-top:15px;
    display: inline-block;
    vertical-align: middle;
}

.logo_img {
    max-width: 160px;
    height: auto;
    margin-top: -9px;
}

#login, #plant-view-form{
    outline: 1px solid #D4D4D4;
    outline-offset: 1px;
    padding: 20px;
    background-color: white;
}

#plant-view-form img#thumbnail{
    max-width: 90px;
    height: auto;
}

a{color: #37a0eb;}

input[type="file"]{
    padding-bottom: 40px;
}

#map{
    height:83%;
    position: fixed;
    display: inline-block;
    vertical-align: middle;
}

.welcome { text-align: center;}

.leaflet-popup-content-wrapper,.leaflet-popup-tip{background-color: #d2f3cd !importantç}
.popup_marker{text-align: left}
.title_popup_marker{font-weight: bold;}

/* Apply a style on the "Current Position Control" (on the map)*/
.leaflet-control-command-interior
{
    width: 32px;
    height: 30px;
    display: block;
    padding: 10px 0 0 0 ;
    margin-left: 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover{ background-color: #F4F4F4;}

.alert {
    width: 100%;
    outline: 1px solid #D4D4D4;
    outline-offset: 1px;
    height: 60px;
}

.about{
    margin-left: auto
}

.about-icon {
    float: left;
    margin: 0 auto;
    width: auto;
    margin: 0 auto;
}

.footer {
    color: #999;
    border-top: solid 3px #ddd;
    padding-top: 5px 0px 5px 0px;
    text-align: center;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #d0c7c7;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 12px;
}


/**
** (Plant List Item) 
**/

ul{list-style: none;}

.vtop {
    display: table-cell;
    vertical-align: top;
    float: none;
}

.plant-list-item {
    display: table;
    padding: 15px;
    margin: 5px;
    line-height: 20px;
    border: 2px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.plant-list-item:hover, .hover {
    border-color:  rgba(23, 152, 0, 0.7);;
    -webkit-box-shadow: 0 3px 4px rgba(23, 152, 0, 0.7);
    -moz-box-shadow: 0 3px 4px rgba(23, 152, 0, 0.7);
    box-shadow: 0 3px 4px rgba(23, 152, 0, 0.7);
    cursor: pointer;
}

.plant-list-item > .image{
    display: table-cell;   
}

.plant-list-item > .image > img, img#thumbnail{
    max-width: 150px;
    height: auto;
    left:50px;
    outline: 2px solid #DEDEDE;
    outline-offset: 4px;
}

.plant-list-item .modal img{
    text-align: center;
    max-width: 500px;
    height: auto;
    width: 100%;
    margin: 0px auto;
}

.plant-list-item .information{
    padding-left: 25px;
    width: 100%;
}

.plant-list-item .name{
    font-weight: bold;
}

.plant-list-item .description{
    line-height: 20px;   
    text-indent: 10px;
    text-align: justify;
}

.plant-list-control{
    float: right;   
}

hr{
    margin: -4px 0px 11px 0px;
    border-color: #d1d0d0;
}

.pagination-centered {
    text-align: center;
    margin-bottom: 50px;
}

.pagination > .active > a{
    background-color:  rgba(23, 152, 0, 0.7);
    border-color: #ddd;
}

.pagination > .active >a:hover{
    background-color:  rgba(23, 152, 0, 0.7);
    cursor: default;
}

/** Ends here (Plant List Item) **/ 

@media (max-width: 480px) {

    #map{        
        position: static;
        height: 350px !important;
        margin-bottom: 35px;
    }

    #plant-view-form img#thumbnail{
        margin-top: 15px;
    }

}

.plantView {
    alignment-adjust: left;

}
