<section class="row">
    <section class="col-md-1"></section>
        <section class="col-md-10 plant-list-item">
            <div class="image">
                <img src="<%= picture === null ? 'pics/generic_plant_fm.jpg' : 'pics/' + picture %>" 
                     alt="<%= name %>" title="<%= name %>" data-toggle="modal" data-target="#myModal">
                
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
                     aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"><%= name %></h4>
                      </div>
                      <div class="modal-body" style="text-align:center">
                        <img src="<%= picture === null ? 'pics/generic_plant_fm.jpg' : 'pics/' + picture %>" 
                             alt="<%= name %>" title="<%= name %>">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Ends Modal-->
                    
            </div>
            <div class="vtop information">
                <h5 class="name"><%= name %></h5>
            <div style="float:right; position:relative;margin-top:-30px">
                <a href="#plants/<%= _id %>" id="pl_<%= _id %>">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </a>                
            </div>
                <hr>
                <p class="description">
                    <%= description %>                    
                </p>
            </div>
        </section>
    <section class="col-md-1"></section>
</section>
