<section class="row" style="margin-bottom:20px;">
    <section class="col-md-1"></section>
        <section class="col-md-10 plant-list-item">
            <div class="image">
                <img src="<%= picture === null ? 'pics/generic_plant_fm.jpg' : 'pics/' + picture %>" alt="<%= name %>" >
            </div>
            <div class="vtop information">
                <h5 class="name"><%= name %></h5>
            <div style="float:right; position:relative;margin-top:-30px">
                <a href="#plants/<%= _id %>" id="pl_<%= _id %>">
                    <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                </a>                
            </div>
                <hr>
                <p class="description">
                    <%= description %>                    
                </p>
            </div>
        </section>
    <section class="col-md-1"></section>
</section>