<section class="row">
    <section class="col-md-1"></section>
    <section class="col-md-10">
        <form id="plant-view-form">
            <fieldset>
                <legend>Plant details</legend>
                    <br>

                    <!--div class="control-group">
                        <label for="plantId" class="control-label">ID:</label>
                        <div class="controls">
                            <input id="planId" name="id" type="text" value="<%= _id === null ? '' : _id %>" disabled/>
                        </div>    
                    </div-->
                    <div class="row control-group" style="margin-bottom:10px;padding-left:12px">
                        <div class="control-group col-xs-5">
                            <div class="input-group">
                                <input type="text" id="latitude" name="latitude" class="form-control" placeholder="Latitude">
                                <span class="input-group-addon">&#176;</span>
                            </div>
                        </div>
                        <div class="control-group col-xs-5">
                            <div class="input-group">
                                <input type="text" id="longitude" name="longitude" class="form-control" placeholder="Longitude">
                                <span class="input-group-addon">&#176;</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="name" class="control-label">Name</label>
                        <input type="email" class="form-control" id="name" name="name" value="<%= name %>"/>

                        <span class="form-control-feedback"></span>
                        <span class="help-block"></span>
                    </div>
                    <div class="control-group">
                        <label for="description" class="control-label">Notes:</label>
                        <div class="controls">
                            <textarea id="description" name="description"class="form-control" style="width: 100%;" rows="3"><%= description %></textarea>                      
                            <span class="form-control-feedback"></span>
                            <span class="help-block"></span>
                        </div>  
                    </div>

                    <div class="form-actions">
                        <a href="#" class="btn btn-primary save">Save</a>
                        <a href="#" class="btn delete">Delete</a>
                    </div>
            </fieldset>
        </form>
        <div class="row-fluid status-bar">
            <div>
                <div class="alert alert-success" style="display: none">
                    <b>Success!</b> Plant saved successfully
                </div>
            </div>
        </div>
    </section>
    <section class="col-md-1"></section>
</section>
    
